.row.show_reservation
  .columns
    .row
      =link_to @restaurant.name, @restaurant
    .row
      =@restaurant.address
    .row 
      =@restaurant.phone

    .row 
      =link_to smart_add_url_protocol(@restaurant.website), smart_add_url_protocol(@restaurant.website)
    .row
      .callout.panel.radius 
        We look forward to seeing your party of #{@reservation.partysize} on
        = prettyprint( @reservation.start_time )


