
.row
  .large-12.columns
    %label
      Date Time Picker 
      = f.datetime_select( :start_time, :ampm => true, :minute_step => 15 )

    %label
      Party Size 
      = f.number_field(:partysize) 

