!!!
/[if IE 9] <html class="lt-ie10" lang="en" >
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    / If you delete this meta tag World War Z will become a reality
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Foundation 5
    / If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet", :type => "text/css"}/
    / optional CDN for Foundation Icons ^^
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"}
  %body
    / Info Banner For Announcements or Links
    /
      <a href="https://zurb.com/university/foundation-intro" class="docs-banner course-banner">
      <div class="info">
      <h5 class=""><strong>To master everything new in 6.4, along with the rest of Foundation register for our Aug 8th Webinar Class ›</strong></h5>
      </div>
      </a>
    /
      <a href="https://zurb.com/wired" id="notice">
      <div class="info hide-for-small">
      <div id="clockdiv" class="countdown">
      <span class="timer-day days"></span>
      <span class="timer-colon">:</span>
      <span class="timer-hour hours"></span>
      <span class="timer-colon">:</span>
      <span class="timer-hour minutes"></span>
      <span class="timer-colon">:</span>
      <span class="timer-seconds seconds"></span>
      </div>
      </div>
      </a>
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "#"}
              Top Bar Title
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span menu
      %section.top-bar-section
        %ul.right
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Main Item 1
            %ul.dropdown
              %li
                %label Section Name
              %li.has-dropdown
                %a{:href => "#"} Has Dropdown, Level 1
                %ul.dropdown
                  %li
                    %a{:href => "#"} Dropdown Options
                  %li
                    %a{:href => "#"} Dropdown Options
                  %li
                    %a{:href => "#"} Level 2
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
                  %li
                    %a{:href => "#"} Subdropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %label Section Name
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %a{:href => "#"} See all →
          %li.divider
          %li
            %a{:href => "#"} Main Item 2
          %li.divider
          %li.has-dropdown
            %a{:href => "#"} Main Item 3
            %ul.dropdown
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li
                %a{:href => "#"} Dropdown Option
              %li.divider
              %li
                %a{:href => "#"} See all →
    / End Header and Nav
    / Logo & Search Bar
    .row
      .large-3.columns
        %h1
          %img{:src => "https://placehold.it/400x100&text=Logo"}/
      .large-9.columns.right
        %form
          .row.collapse
            .large-10.small-8.columns
              %input{:type => "text"}/
            .large-2.small-4.columns
              %a.postfix.button.expand{:href => "#"} Search
    / Product Images and Details
    .row
      %hr/
      .large-2.columns
        %img{:src => "https://placehold.it/400x300&text=[img]"}/
        %br/
        %img{:src => "https://placehold.it/400x300&text=[img]"}/
        %br/
        %img{:src => "https://placehold.it/400x300&text=[img]"}/
        %br/
        %img{:src => "https://placehold.it/400x300&text=[img]"}/
      .large-5.columns
        %img{:src => "https://placehold.it/400x500"}/
      .large-5.columns
        %h4 This is a content section.
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
        .panel
          %h5 Header
          %h6.subheader Praesent placerat dui tincidunt elit suscipit sed.
          %a.small.button{:href => "#"} Add to Cart
    .row
      %hr/
      .large-6.columns
        %h4 This is a content section.
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
      .large-6.columns
        %h4 This is a content section.
        %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
    .row
      %hr/
      .large-12.columns
        %h4 You might also like:
        %img{:src => "https://placehold.it/200x150&text=[img]"}/
        %img{:src => "https://placehold.it/200x150&text=[img]"}/
        %img{:src => "https://placehold.it/200x150&text=[img]"}/
        %img{:src => "https://placehold.it/200x150&text=[img]"}/
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Copyright no one at all. Go to town.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Link 1
              %li
                %a{:href => "#"} Link 2
              %li
                %a{:href => "#"} Link 3
              %li
                %a{:href => "#"} Link 4
    %script{:src => "https://code.jquery.com/jquery-2.1.4.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"}
    :javascript
      $(document).foundation();

