@import "foundation";

.show_reservation {
    @include panel();

    @media #{$medium-up} {
	padding: 10em;
    }

    .reservation_mesage  {
        @include panel();

    }
}

.login-and-signup-view {
    padding: 2em;
    @media #{$medium-up} {
	padding: 10em;
    }

    .new-user-form {

	h3 {
	    text-align: center;
	}

	@include panel();
	@include grid-column(
            $columns:10,
            $center:true
	);

	@media #{$medium-up} {
	    width: $small-breakpoint / 2.0;
	}

	.submit-button {
	     @include button($full-width: true);
	}
    }
}
