// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.restaurants {
    color: #f60;
    background-color: gray;
    font-weight: bold;
    span {
	text-transform: uppercase;
    }
}

